<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjectIncentive</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>AuthUser</display-name>
    <filter-name>AuthUser</filter-name>
    <filter-class>com.filters.AuthUser</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthUser</filter-name>
    <url-pattern>/ClearDB</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDB</display-name>
    <servlet-name>ShowDB</servlet-name>
    <servlet-class>com.controller.ShowDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDB</servlet-name>
    <url-pattern>/ShowDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncentiveDetails</display-name>
    <servlet-name>IncentiveDetails</servlet-name>
    <servlet-class>com.controller.IncentiveDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncentiveDetails</servlet-name>
    <url-pattern>/IncentiveDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterRecordToDB</display-name>
    <servlet-name>EnterRecordToDB</servlet-name>
    <servlet-class>com.controller.EnterRecordToDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterRecordToDB</servlet-name>
    <url-pattern>/EnterRecordToDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enter_StdTimePerLot</display-name>
    <servlet-name>Enter_StdTimePerLot</servlet-name>
    <servlet-class>com.controller.Enter_StdTimePerLot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enter_StdTimePerLot</servlet-name>
    <url-pattern>/Enter_StdTimePerLot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enter_StdWtPerHour</display-name>
    <servlet-name>Enter_StdWtPerHour</servlet-name>
    <servlet-class>com.controller.Enter_StdWtPerHour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enter_StdWtPerHour</servlet-name>
    <url-pattern>/Enter_StdWtPerHour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enter_StdTimePerSize</display-name>
    <servlet-name>Enter_StdTimePerSize</servlet-name>
    <servlet-class>com.controller.Enter_StdTimePerSize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enter_StdTimePerSize</servlet-name>
    <url-pattern>/Enter_StdTimePerSize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearDB</display-name>
    <servlet-name>ClearDB</servlet-name>
    <servlet-class>com.controller.ClearDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearDB</servlet-name>
    <url-pattern>/ClearDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelteRecord</display-name>
    <servlet-name>DelteRecord</servlet-name>
    <servlet-class>com.controller.DelteRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelteRecord</servlet-name>
    <url-pattern>/DelteRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDataForDelete</display-name>
    <servlet-name>ShowDataForDelete</servlet-name>
    <servlet-class>com.controller.ShowDataForDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDataForDelete</servlet-name>
    <url-pattern>/ShowDataForDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStdValues</display-name>
    <servlet-name>ShowStdValues</servlet-name>
    <servlet-class>com.controller.ShowStdValues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStdValues</servlet-name>
    <url-pattern>/ShowStdValues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStdTimePerLot</display-name>
    <servlet-name>DeleteStdTimePerLot</servlet-name>
    <servlet-class>com.controller.DeleteStdTimePerLot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStdTimePerLot</servlet-name>
    <url-pattern>/DeleteStdTimePerLot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStdWtPerHour</display-name>
    <servlet-name>DeleteStdWtPerHour</servlet-name>
    <servlet-class>com.controller.DeleteStdWtPerHour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStdWtPerHour</servlet-name>
    <url-pattern>/DeleteStdWtPerHour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStdTimePerSize</display-name>
    <servlet-name>DeleteStdTimePerSize</servlet-name>
    <servlet-class>com.controller.DeleteStdTimePerSize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStdTimePerSize</servlet-name>
    <url-pattern>/DeleteStdTimePerSize</url-pattern>
  </servlet-mapping>
</web-app>